<div class='article'>
	<h2>Welcome</h2>

	<p style='text-align:center;'>
	<img style='border-radius:4px;' src='/static/img/me.jpg'>
	</p>
<p>
My name is Perry Naughton and I am pursuing a Ph.D. at the <a href="http://ucsd.edu">University of California, San Diego</a>. I am grateful to be a <a href="http://nsf.gov/grfp">National Science Foundataion Graduate Research Fellow</a>, a <a href="http://igert.org">National Science Foundation Integrative Graduate Education and Research Trainee</a>, and to recieve continued support from the <a href="http://sbfoundation.org">Santa Barbara Foundation</a>. I am concerned about conservation, especially in marine environments. Therefore, I am developing <em>remote sensing</em> and <em>robotic</em> technologies to make conservational efforts more effective. To get to know me better browse the links at the top or send me an email! </a>
<!--come sleep <a href="https://www.couchsurfing.org/profile.html?id=F0SEM25">on my couch</a>.-->

	<p>
</div>
