<div class='article'>
<p>This website is the synthesis of many different influences around me. You are free to use whatever parts of this website that you wish, but in some cases it may be required to give credit to those I have given credit to below.</p>

<p>My first debt goes to <a href="http://rileyyeakle.com">Riley Yeakle</a> who got me excited about <a href="http://pages.github.com">github pages</a> and <a href="http://jekyllrb.com/">jekyll</a></p>

<p>Most of my website was derived from another good friend's, <a href="http://athlabs.com">Andrew Huynh</a>, this includes the social icons for email, twitter and linkedin, most of the css, the idea to use <a href="http://960.gs/">960 grid</a>, etc. You will see similarities in our sites.

<p>All of the icons I used are from the noun project, which has many awesome opensource .svg files. The ones that I am currently using are:

<ul>
<li> <a href="http://thenounproject.com/noun/shark-surfing/#icon-No18738">Shark Surfing</a>
<li> <a href="http://thenounproject.com/noun/hang-loose/#icon-No18311">Hang Loose</a>
<li> <a href="http://thenounproject.com/noun/newspaper/#icon-No18205">Newspaper</a>
<li> <a href="http://thenounproject.com/noun/big-idea/#icon-No13678">Big Idea</a>
<li> <a href="http://thenounproject.com/noun/big-idea/#icon-No13680">Big Idea</a> (not the same)
</ul>

<p>It is possible that I left some entity out that I should have given credit to. This was not intentional. Please <a href="http://www.google.com/recaptcha/mailhide/d?k=01yIItao3rxu7drzm2LWp3IA==&c=cLfqpq4eZLbMEpCClTxBkR_8UlFxZZMvETMXYfDUJgM=">email me</a> and I will fix it.<p>
</div>
