<div class='article'>
	Some news articles that mention me and my work(or play).
	<p>
	<h3>2014</h3>
	<ul class='news_clippings'>
			<li>
			<a href='http://phys.org/news/2014-09-capturing-ancient-maya-sites-rat.html'>
			Capturing ancient Maya sites from both a rat's and a 'bat's eye view'
			</a>
			<div class='caption'>Calit2 Newsroom, Jacobs School Blog, UCSD News, Phys.org, Gizmodo, International Business Times </div>
		</li>
	</ul>
	<ul class='news_clippings'>
			<li>
			<a href='http://www.utsandiego.com/news/2014/Apr/13/science-ucsd-fieldresearch/'>
			Scientists Set to Roam the World
			</a>
			<div class='caption'>UT San Diego</div>
		</li>
	</ul>
	<ul class='news_clippings'>
			<li>
			<a href='http://www.cse.ucsd.edu/node/2501'>
			New Graduate Research Fellows in Kastner Group
			</a>
			<div class='caption'>UCSD CSE News</div>
		</li>
	</ul>

	<h3>2013</h3>
	<ul class='news_clippings'>
			<li>
			<a href='http://jacobsschoolofengineering.blogspot.com/2013/09/a-robotic-stingray-takes-dip-at-uc-san.html'>
			Robotic Stingray Takes a Dip
			</a>
			<div class='caption'>Jacobs School Blog</div>
		</li>
	</ul>
	<h3>2012</h3>
	<ul class='news_clippings'>
			<li>
			<a href='http://www.calit2.net/newsroom/article.php?id=1991'>
			UC San Diego Students Demonstrate Smart Camera Trap at New Engineering Competition
			</a>
			<div class='caption'>Calit2 Newsroom</div>
		</li>
	</ul>
	<h3>2010</h3>
	<ul class='news_clippings'>
		<li>
			<a href='http://www.calit2.net/newsroom/rss.php?id=1679'>
				Introducing the Calit2 UCSD Undergraduate Summer Research Scholars
			</a>
			<div class='caption'>Calit2 Newsroom</div>
		</li>
		<li>
			<a href='http://ucsdmag.ucsd.edu/magazine/vol7no1/waves/article6.htm'>
				Cycling for Waves
			</a>
			<div class='caption'>UCSD Alumni Magazine</div>
		</li>
	</ul>
</div>
