<div class='article'>
This is my blog. Unfortunately it is empty.

To start I would like to remind everyone that I have spent my graduate career in remote sensing, where I have worked with teams to build system to collect data about
</div>



<!--
  1 <div class='article'>
      2         <h2>Welcome</h2>
        3
          4         <p style='text-align:center;'>
            5         <img style='border-radius:4px;' src='/static/img/me.jpg'>
              6         </p>
                7 <p>
                  8 My name is Perry Naughton and I am pursuing a Ph.D. at the <a href="http://ucsd.edu">University of California, San Diego</a>. I am grateful to be     a <a href="http://nsf.gov/grfp">National Science Foundataion Graduate Research Fellow</a>, a <a href="http://igert.org">National Science Foundatio    n Integrative Graduate Education and Research Trainee</a>, and to recieve continued support from the <a href="http://sbfoundation.org">Santa Barba    ra Foundation</a>. I am concerned about conservation, especially in marine environments. Therefore, I am developing <em>remote sensing</em> and <e    m>robotic</em> technologies to make conservational efforts more effective. To get to know me better browse the links at the top or send me an emai    l! </a>
                 10
                  11         <p>
                   12 </div>
                 ~                                                     -->
